.color-button-container {
    display: flex;
  border: 0px solid #ccc;
  margin: 10px;

  border-radius: 5px;
  overflow-x: auto;
}

.color-button-container:hover {
  transform: scale(1.2);
  transition: transform 0.2s ease;
  overflow: hidden;
}

.color-button {
  flex: 1 0 calc(10% - 10px);
  height: 30px;
  margin-top: 5px;
  
  width: 8%;
  border: none;
    margin:0;
  
  max-width: 100%;  
overflow: none;
}
.color-button:hover {
  transform: scale(1.3);
  transition: transform 0.2s ease;
}

#color-headline {
  font-weight: 600;
  margin: 10px;
  margin-top: 0;
  
}
