.left-panel {
  position: relative;
  flex: 3;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 100%;
}

#studentList {
  height: 160px;
  min-height: 160px;
  max-height: 300px;
  overflow-y: auto;
}

#groupStudentList {
  height: 160px;
  min-height: 160px;
  max-height: 300px;
  overflow-y: auto;
}

#canvas-container {
  position: relative;
  width: 100%;
  height: 92vh;
  max-width: 1400px;
  border: 2px solid #424242;
  background-color: white;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.scroll-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: auto;
}

canvas {
  display: block;
}

.left-panel button {
  padding: 10px 15px;
  background-color: rgba(0, 0, 0, 0.2);
  color: var(--font);
  border: none;
  cursor: pointer;
  transition: background-color 0.2s ease;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding-top: 20px;
  padding-bottom: 25px;
  font-weight: 500;
  font-size: 13px;
  line-height: 1;
}

.left-panel button:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

#fullscreen-button {
  position: absolute;
  visibility: hidden;
  top: 0;
  right: 0px;
  width: 100px;
  height: 30px;
  padding-top: 10px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.4);
  color: #ffffff;
  text-wrap: nowrap;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 1rem;
  z-index: 1000;
  margin-right: 0px;
  margin-top: 0px;
  overflow-x: visible;
}

#fullscreen-button:hover {
  background-color: rgba(0, 0, 0, 0.6);
}
