@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

:root {
  --accent: #7359f7;
  --accent_hover: #5540de;
  --font: white;
  --font_light: #777;
  --background: #ffeba7;
  --element_background: #fff;
}

body {
  font-family: 'Inter', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  background-color: #f7f9fc;
  color: #333;
}

#root {
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: left;
}
