.group-color {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin: 2px;
}

#contextMenu,
#groupContextMenu {
  display: none;
  position: absolute;
  z-index: 1000;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

#contextMenu ul,
#groupContextMenu ul {
  list-style: none;
  margin: 0;
  padding: 5px 0;
}

#contextMenu li {
  padding: 8px 12px;
  cursor: pointer;
}

#contextMenu li:hover {
  background-color: #f0f0f0;
}

#groupContextMenu ul {
  display: flex;
  gap: 5px;
  justify-content: center;
}

#groupContextMenu li {
  cursor: pointer;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#roundtableSubMenu {
  display: none;
  position: absolute;
  list-style-type: none;
  z-index: 1001;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

#roundtableSubMenu li {
  padding: 8px 12px;
  cursor: pointer;
  white-space: nowrap;
  color: black;
}

#roundtableSubMenu li:hover {
  background-color: #f0f0f0;
}
